openapi: 3.0.0

info:
  title: Verifier API
  version: 1.0.0
  description: Documentación de la API de Verifier.
  contact:
    name: Verifier, Inc.
    url: https://verifier.mx
    email: info@verifier.mx

servers:
  - url: https://api.verifier.mx
    description: Servidor de la API de Producción.

paths:
  /rfc/verify:
    post:
      operationId: verifyRfc
      security:
        - ApiKeyAuth: []
      tags:
        - Rfc
      summary: Verifica la validez y registro de un RFC.
      description: >
        Verifica que un RFC tenga un formato válido y que esté registrado ante el SAT.
      requestBody:
        $ref: '#/components/requestBodies/SingleRfc'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleRfc'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /rfc/generate:
    post:
      operationId: generateRfc
      security:
        - ApiKeyAuth: []
      tags:
        - Rfc
      summary: Genera un RFC y verifica su registro en el SAT.
      description: >
        Genera un RFC a partir de los datos de una persona física o moral y verifica si el RFC generado está registrado ante el SAT.
      requestBody:
        $ref: '#/components/requestBodies/SingleRfc'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleRfc'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  requestBodies:
    SingleRfc:
      description: Los datos requeridos para validar un RFC.
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              rfc:
                description: El RFC a validar en texto plano.
                type: string
            required:
              - rfc
    GenerateRfc:
      description: Los datos requeridos para generar un RFC.
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                description: El tipo del RFC ingresado. El valor puede ser `person` para persona física o `company` para persona moral.
                type: string
                enum:
                  - person
                  - company
              name:
                description: El nombre o nombres de la persona física; o la razón social de la persona moral.
                type: string
              lastName1:
                description: Apellido paterno. Requerido sólo para personas físicas.
                type: string
              lastName2:
                description: Apellido materno. Si la persona tiene más de 2 apellidos se deben incluir en este campo. Requerido sólo para personas físicas.
                type: string
              day:
                description: El día de nacimiento para una persona física; o el día de creación de la empresa para una persona moral.
                type: integer
                minimum: 1
                maximum: 31
              month:
                description: El mes de nacimiento para una persona física; o el mes de creación de la empresa para una persona moral.
                type: integer
                minimum: 1
                maximum: 12
              year:
                description: El año de nacimiento para una persona física; o el año de creación de la empresa para una persona moral.
                type: integer
            required:
              - type
  schemas:
    SingleRfc:
      type: object
      properties:
        isValid:
          $ref: '#/components/schemas/IsValid'
        isRegistered:
          $ref: '#/components/schemas/IsRegistered'
        rfc:
          $ref: '#/components/schemas/Rfc'
        type:
          $ref: '#/components/schemas/Type'
        blacklist69:
          $ref: '#/components/schemas/Blacklist69'
        blacklist69b:
          $ref: '#/components/schemas/Blacklist69b'
        validationErrors:
          $ref: '#/components/schemas/ValidationErrors'
    IsValid:
      description: Indica si el string ingresado es un RFC válido.
      type: boolean
    IsRegistered:
      description: Indica si el RFC está dado de alta ante el SAT (Servicio de Administración Tributaria).
      type: boolean
    Rfc:
      description: El RFC formateado (en mayúsculas, sin espacios ni simbolos). Regresa `null` en caso de que el RFC sea inválido.
      type: string
    Type:
      description: El tipo del RFC ingresado. Los valores pueden ser `person` para personas físicas o `company` para personas morales. Regresa `null` en caso de que el RFC sea inválido.
      type: string
      enum:
        - person
        - company
    Blacklist69:
      description: Provee detalles en caso de que el RFC esté incluído en la lista negra de contribuyentes incumplidos y condonados ([69](https://www.sat.gob.mx/consultas/11981/consulta-la-relacion-de-contribuyentes-incumplidos)). Se regresará `null` si el RFC no está incluído en ninguna lista.
      type: object
      properties:
        name:
          description: El nombre o razón social de la persona física o moral.
          type: string
        state:
          description: El estado de México en que fue registrada la razón social.
          type: string
        lists:
          description: Todas las listas de contribuyentes incumplidos y condonados en que está incluído el RFC.
          type: array
          items:
            $ref: '#/components/schemas/Blacklist69List'
    Blacklist69List:
      description: Información sobre una de las listas de contribuyentes incumplidos y condonados en que está incluído el RFC.
      type: object
      properties:
        type:
          description: El tipo o nombre de la lista en que está incluído el RFC.
          type: string
          enum:
            - CANCELADOS
            - CONDONADOS_ART_74
            - CONDONADOS_ART_146B
            - CONDONADOS_ART_21
            - CONDONADOS_DECRETO_2015
            - CONDONADOS_2007_2015
            - CANCELADOS_2007_2015
            - RETORNO_INVERSIONES
            - EXIGIBLES
            - FIRMES
            - NO_LOCALIZADOS
            - SENTENCIAS
            - ELIMINADOS_NO_LOCALIZADOS
        firstPublicationDate:
          description: La primera fecha en que se publicó este RFC en la lista.
          type: string
          format: date-time
        publicationDate:
          description: La fecha en que se publicó este RFC en la lista ya con el monto actualizado (campo `amount`).
          type: string
          format: date-time
        amount:
          description: La cantidad de dinero en pesos mexicanos ($MXN) involucrada según la operación listada (condonación, adeudo, retorno de inversión, etc).
          type: number
          format: float
        reason:
          description: Explicación provista por el SAT de por qué el RFC se encuentra en la lista.
          type: string
    Blacklist69b:
      description: Provee detalles en caso de que el RFC esté incluído en la lista negra de contribuyentes con operaciones presuntamente inexistentes ([69-B](https://www.sat.gob.mx/consultas/76674/consulta-la-relacion-de-contribuyentes-con-operaciones-presuntamente-inexistentes)). Se regresará `null` si el RFC no está incluído en la lista negra.
      type: object
      properties:
        id:
          description: El número o identificador asignado por el SAT para el RFC dentro de la lista.
          type: string
        status:
          description: El estatus en que se encuentra el RFC dentro de la lista. Los valores correspondientes con el SAT son `alleged` (Presunto), `detracted` (Desvirtuado), `definitive` (Definitivo) y `favorable` (Sentencia Favorable).
          type: string
          enum:
            - alleged
            - detracted
            - definitive
            - favorable
        name:
          description: El nombre o razón social de la persona física o moral.
          type: string
        allegedDetails:
          description: Información adicional en caso de que el RFC esté o haya pasado por el estatus "alleged".
          $ref: '#/components/schemas/Blacklist69bStatus'
        detractedDetails:
          description: Información adicional en caso de que el RFC esté o haya pasado por el estatus "detracted".
          $ref: '#/components/schemas/Blacklist69bStatus'
        definitiveDetails:
          description: Información adicional en caso de que el RFC esté o haya pasado por el estatus "definitive".
          $ref: '#/components/schemas/Blacklist69bStatus'
        favorableDetails:
          description: Información adicional en caso de que el RFC esté o haya pasado por el estatus "favorable".
          $ref: '#/components/schemas/Blacklist69bStatus'
    Blacklist69bStatus:
      description: Brinda información adicional sobre uno de los estatus en que está o estuvo el RFC en la lista. En caso de que el RFC no esté o no haya pasado por dicho estatus se regresará `null`.
      type: object
      properties:
        ogId:
          description: Número de oficio global en que se publicó.
          type: string
        ogPublicactionDate:
          description: Fecha en que el estatus del RFC se publicó en el oficio global.
          type: string
          format: date-time
        satPublicactionDate:
          description: Fecha en que el estatus del RFC se publicó en el SAT.
          type: string
          format: date-time
        dofPublicactionDate:
          description: Fecha en que el estatus del RFC se publicó en el Diario Oficial de la Federación.
          type: string
          format: date-time
    ValidationErrors:
      description: En caso de que el RFC no sea válido, aquí se listan los motivos por los que no fue válido.
      type: array
      items:
        $ref: '#/components/schemas/ValidationError'
    ValidationError:
      description: >
        `INVALID_FORMAT`: El formato es inválido, es decir, no cuenta con la longitud o estructura de caracteres esperado.
        `INVALID_DATE`: El string tiene el formato adecuado, pero los dígitos para la fecha generan una fecha inválida. 
        `INVALID_VERIFICATION_DIGIT`: El string tiene el formato adecuado, pero el último caracter (dígito verificador) es inválido.
      type: string
      enum:
        - INVALID_FORMAT
        - INVALID_DATE
        - INVALID_VERIFICATION_DIGIT
    Error:
      type: object
      properties:
        code:
          description: Identificador del error.
          type: string
        message:
          description: Un mensaje para proveer más información sobre el error.
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
