openapi: 3.0.0

info:
  title: Verifier API
  version: 1.0.0
  description: Documentación de la API de Verifier.
  contact:
    name: Verifier, Inc.
    url: https://verifier.mx
    email: info@verifier.mx

servers:
  - url: https://api.verifier.mx
    description: Servidor de la API de Producción.

paths:
  /rfc/verify:
    post:
      operationId: verifyRfc
      security:
        - ApiKeyAuth: []
      tags:
        - Rfc
      summary: Verifica la validez y registro de un RFC.
      description: >
        Verifica que un RFC tenga un formato válido y que esté registrado ante el SAT.
      requestBody:
        $ref: '#/components/requestBodies/SingleRfc'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleRfc'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  requestBodies:
    SingleRfc:
      description: Los datos requeridos para validar un RFC.
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              rfc:
                description: El RFC a validar en texto plano.
                type: string
            required:
              - rfc
  schemas:
    SingleRfc:
      type: object
      properties:
        isValid:
          $ref: '#/components/schemas/IsValid'
        isRegistered:
          $ref: '#/components/schemas/IsRegistered'
        rfc:
          $ref: '#/components/schemas/Rfc'
        type:
          $ref: '#/components/schemas/Type'
        blacklist69b:
          $ref: '#/components/schemas/Blacklist69b'
        validationErrors:
          $ref: '#/components/schemas/ValidationErrors'
    IsValid:
      description: Indica si el string ingresado es un RFC válido.
      type: boolean
    IsRegistered:
      description: Indica si el RFC está dado de alta ante el SAT (Servicio de Administración Tributaria).
      type: boolean
    Rfc:
      description: El RFC formateado (en mayúsculas, sin espacios ni simbolos). Regresa `null` en caso de que el RFC sea inválido.
      type: string
    Type:
      description: El tipo del RFC ingresado. Los valores pueden ser `person` para personas físicas o `company` para personas morales. Regresa `null` en caso de que el RFC sea inválido.
      type: string
      enum:
        - person
        - company
    Blacklist69b:
      description: Provee detalles en caso de que el RFC esté incluído en la lista negra de contribuyentes con operaciones presuntamente inexistentes ([69-B](https://www.sat.gob.mx/consultas/76674/consulta-la-relacion-de-contribuyentes-con-operaciones-presuntamente-inexistentes)). Se regresará `null` si el RFC no está incluído en la lista negra.
      type: object
      properties:
        id:
          description: El número o identificador asignado por el SAT para el RFC dentro de la lista.
          type: string
        status:
          description: El estatus en que se encuentra el RFC dentro de la lista. Los valores correspondientes con el SAT son `alleged` (Presunto), `detracted` (Desvirtuado), `definitive` (Definitivo) y `favorable` (Sentencia Favorable).
          type: string
          enum:
            - alleged
            - detracted
            - definitive
            - favorable
        name:
          description: El nombre o razón social de la persona física o moral.
          type: string
        allegedDetails:
          description: Información adicional en caso de que el RFC esté o haya pasado por el estatus "alleged".
          $ref: '#/components/schemas/Blacklist69bStatus'
        detractedDetails:
          description: Información adicional en caso de que el RFC esté o haya pasado por el estatus "detracted".
          $ref: '#/components/schemas/Blacklist69bStatus'
        definitiveDetails:
          description: Información adicional en caso de que el RFC esté o haya pasado por el estatus "definitive".
          $ref: '#/components/schemas/Blacklist69bStatus'
        favorableDetails:
          description: Información adicional en caso de que el RFC esté o haya pasado por el estatus "favorable".
          $ref: '#/components/schemas/Blacklist69bStatus'
    Blacklist69bStatus:
      description: Brinda información adicional sobre uno de los estatus en que está o estuvo el RFC en la lista. En caso de que el RFC no esté o no haya pasado por dicho estatus se regresará `null`.
      type: object
      properties:
        ogId:
          description: Número de oficio global en que se publicó.
          type: string
        ogPublicactionDate:
          description: Fecha en que el estatus del RFC se publicó en el oficio global.
          type: string
          format: date-time
        satPublicactionDate:
          description: Fecha en que el estatus del RFC se publicó en el SAT.
          type: string
          format: date-time
        dofPublicactionDate:
          description: Fecha en que el estatus del RFC se publicó en el Diario Oficial de la Federación.
          type: string
          format: date-time
    ValidationErrors:
      description: En caso de que el RFC no sea válido, aquí se listan los motivos por los que no fue válido.
      type: array
      items:
        $ref: '#/components/schemas/ValidationError'
    ValidationError:
      description: >
        `INVALID_FORMAT`: El formato es inválido, es decir, no cuenta con la longitud o estructura de caracteres esperado.
        `INVALID_DATE`: El string tiene el formato adecuado, pero los dígitos para la fecha generan una fecha inválida. 
        `INVALID_VERIFICATION_DIGIT`: El string tiene el formato adecuado, pero el último caracter (dígito verificador) es inválido.
      type: string
      enum:
        - INVALID_FORMAT
        - INVALID_DATE
        - INVALID_VERIFICATION_DIGIT
    Error:
      type: object
      properties:
        code:
          description: Identificador del error.
          type: string
        message:
          description: Un mensaje para proveer más información sobre el error.
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
